#display-area-z {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  height: fit-content;
  background-color: rgb(255, 255, 255, 0.7);
  border: 3px dashed black;
}

#display-area-z h1 {
  text-decoration: underline;
}
